/* Logo */
.logo-img img {
  max-height: 45px;
  transition: .5s;
}
/* Custom schedule table */

.rbc-header {
  color: white;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background: #17405d;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #04aa6d !important;
}

.rbc-time-slot {
  color: #74a4c3;
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
  background-color: #eff4f7;
}

/* Events styles */
.rbc-events-container {
  width: 100%;
}


/* Loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1001;
}

/* Text Editor */


.quill {
  display: flex;
  flex-direction: column;
  height: 200px; /* Điều chỉnh chiều cao theo nhu cầu */
}
.ql-container {
  flex: 1;
  overflow-y: auto;
}

/* .ant-upload-wrapper {
  display: flex;
} */

