.event-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.event-title {
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.event-status {
    margin-top: 4px;
}