.sidebar-link {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    /* Đảm bảo các biểu tượng và chữ được căn chỉnh */
    align-items: center;
    /* Căn giữa nội dung */
}

.sidebar-link:hover {
    background-color: #e6e6e6;
    /* Màu nền khi hover */
}

.sidebar-link.active {
    background-color: #007bff;
    /* Màu nền khi được chọn */
    color: white !important;
    /* Màu chữ khi được chọn */
}