.event-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -4px;
    /* Move the entire container up */
}

.event-title {
    font-weight: bold;
    margin-bottom: 5px;
    /* Add margin-bottom to move the title up */
}

.event-status {
    margin-top: 4px;
}

.small-text {
    font-size: 0.8em;
}

.event-teacher {
    margin-bottom: 6px;
}