.event-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-title {
    font-weight: bold;
}

.event-status {
    margin-top: 4px;
}

.small-text {
    font-size: 0.8em;
}